
  <style> @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap'); </style>
  <style> .gps-512566538599924721 .gp-relative{position:relative}.gps-512566538599924721 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512566538599924721 .gp-mb-0{margin-bottom:0}.gps-512566538599924721 .gp-flex{display:flex}.gps-512566538599924721 .gp-grid{display:grid}.gps-512566538599924721 .\!gp-hidden{display:none!important}.gps-512566538599924721 .gp-hidden{display:none}.gps-512566538599924721 .gp-max-w-full{max-width:100%}.gps-512566538599924721 .gp-flex-col{flex-direction:column}.gps-512566538599924721 .gp-gap-y-0{row-gap:0}.gps-512566538599924721 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512566538599924721 .gp-duration-200{transition-duration:.2s}.gps-512566538599924721 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512566538599924721 .tablet\:\!gp-hidden{display:none!important}.gps-512566538599924721 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512566538599924721 .mobile\:\!gp-hidden{display:none!important}.gps-512566538599924721 .mobile\:gp-hidden{display:none}}.gps-512566538599924721 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512566538599924721 .\[\&_p\]\:gp-inline p{display:inline}.gps-512566538599924721 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512566538599924721 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gOor0BsUjK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:64px;--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOor0BsUjK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMmBwUpgMz gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gksRZt4N13"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gksRZt4N13 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtyZodCaU0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6F31nI-RI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:70%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6F31nI-RI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQH4xXrdtS gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGctM8rFeu "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#8B3094;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGctM8rFeu_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9S8Uv3wx7 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:44px;--size-tablet:51px;--size-mobile:36px;--c:#000000;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg9S8Uv3wx7_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gpFLxjXaEM "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpFLxjXaEM_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g0QblPMnTn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0QblPMnTn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ga3ZRxcN_o gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gz-iTPZnIl "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz-iTPZnIl_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIdh0X0cam "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIdh0X0cam_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwlvwlbIBy gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGRw4ZHj9h "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGRw4ZHj9h_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glVwk12nHk "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglVwk12nHk_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf8TRpZhIT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsDZQX88ht "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#000000;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsDZQX88ht_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g5XVzt3aMx "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5XVzt3aMx_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-512566538599924721 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/crazycompression/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=512566515900351599&sectionId=512566538599924721)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggGctM8rFeu_text","label":"ggGctM8rFeu_text","default":"What Makes Us Different?"},{"type":"text","id":"gg9S8Uv3wx7_text","label":"gg9S8Uv3wx7_text","default":"Why choose crazy compression"},{"type":"text","id":"ggpFLxjXaEM_text","label":"ggpFLxjXaEM_text","default":"<p>Besides the fun designs, there are several reasons that keep our customers coming back again and again.</p>"},{"type":"text","id":"ggz-iTPZnIl_text","label":"ggz-iTPZnIl_text","default":"<p>Moisture Wicking</p>"},{"type":"text","id":"ggIdh0X0cam_text","label":"ggIdh0X0cam_text","default":"<p>Our innovative knitting technique creates graduated compression socks made from lightweight, breathable micro nylon with moisture control</p>"},{"type":"text","id":"ggGRw4ZHj9h_text","label":"ggGRw4ZHj9h_text","default":"<p>Made In The USA</p>"},{"type":"text","id":"gglVwk12nHk_text","label":"gglVwk12nHk_text","default":"<p>Our 1-20mmhg TRUE graduated compression socks are made here in the United States.</p>"},{"type":"text","id":"ggsDZQX88ht_text","label":"ggsDZQX88ht_text","default":"<p>Quality</p>"},{"type":"text","id":"gg5XVzt3aMx_text","label":"gg5XVzt3aMx_text","default":"<p>We have worked hard to create a product that stands out from the rest, delivers excellent results, and looks fantastic. We are proud of our socks and offer a lifetime guarantee to back up our claims.</p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
