
  <style> @import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:700|Josefin+Sans:700&display=swap'); </style>
  <style> .gps-512566538499261425 .gp-invisible{visibility:hidden}.gps-512566538499261425 .gp-absolute{position:absolute}.gps-512566538499261425 .gp-relative{position:relative}.gps-512566538499261425 .gp-z-1{z-index:1}.gps-512566538499261425 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512566538499261425 .gp-mb-0{margin-bottom:0}.gps-512566538499261425 .\!gp-inline{display:inline!important}.gps-512566538499261425 .gp-flex{display:flex}.gps-512566538499261425 .gp-inline-flex{display:inline-flex}.gps-512566538499261425 .gp-grid{display:grid}.gps-512566538499261425 .\!gp-hidden{display:none!important}.gps-512566538499261425 .gp-hidden{display:none}.gps-512566538499261425 .gp-h-5{height:20px}.gps-512566538499261425 .gp-h-full{height:100%}.gps-512566538499261425 .gp-w-5{width:20px}.gps-512566538499261425 .gp-w-full{width:100%}.gps-512566538499261425 .gp-max-w-full{max-width:100%}.gps-512566538499261425 .gp-flex-col{flex-direction:column}.gps-512566538499261425 .gp-items-center{align-items:center}.gps-512566538499261425 .gp-justify-center{justify-content:center}.gps-512566538499261425 .gp-gap-y-0{row-gap:0}.gps-512566538499261425 .gp-overflow-hidden{overflow:hidden}.gps-512566538499261425 .gp-break-words{overflow-wrap:break-word}.gps-512566538499261425 .gp-rounded-none{border-radius:0}.gps-512566538499261425 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-512566538499261425 .gp-no-underline{text-decoration-line:none}.gps-512566538499261425 .gp-opacity-25{opacity:.25}.gps-512566538499261425 .gp-opacity-75{opacity:.75}.gps-512566538499261425 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512566538499261425 .gp-duration-200{transition-duration:.2s}.gps-512566538499261425 .gp-duration-300{transition-duration:.3s}.gps-512566538499261425 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512566538499261425 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512566538499261425 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512566538499261425 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512566538499261425 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-512566538499261425 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-512566538499261425 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-512566538499261425 .tablet\:\!gp-hidden{display:none!important}.gps-512566538499261425 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512566538499261425 .mobile\:\!gp-hidden{display:none!important}.gps-512566538499261425 .mobile\:gp-hidden{display:none}}.gps-512566538499261425 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512566538499261425 .\[\&_p\]\:gp-inline p{display:inline}.gps-512566538499261425 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-512566538499261425 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512566538499261425 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="giEYaWEK38"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:64px;--pl:0px;--pb:58px;--pr:var(undefined);--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:56px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giEYaWEK38 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geaAt1n8Nf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gsHkrM82q4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsHkrM82q4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRxnavPKD5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gq_XayKlNu "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#8B3094;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggq_XayKlNu_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g3WeijJwjY "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:51px;--size-tablet:51px;--size-mobile:36px;--c:#000000;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3WeijJwjY_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="g1x8rdHCN- "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:24px;--size-tablet:38px;--size-mobile:26px;--c:#ffffff;word-break:break-word;--bgc:#8B3094;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1x8rdHCN-_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXipQ3wr9Z "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:24px;--size-tablet:38px;--size-mobile:33px;--c:#ffffff;word-break:break-word;--bgc:#8B3094;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXipQ3wr9Z_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g5CBOyTw4N "
        style="--ta:right;--ta-tablet:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:right;--jc-tablet:center;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5CBOyTw4N_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gcDf2ie_j1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcDf2ie_j1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:0"
      class="ga4DRyXI-k gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ggHC6y6dq2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggHC6y6dq2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqBzlvVVp1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8-vhS0pqA "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8-vhS0pqA_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:2"
      class="gSySa8mBNW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gt3RMcQvvy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:34px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt3RMcQvvy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gcOVUT8xWv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="guYjrqjcIc "
        style="--ta:right;--ta-tablet:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:right;--jc-tablet:center;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Playfair-Display, 'Playfair Display'), var(--g-font-heading, heading);--weight:700;--ls:0px;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#57C2C8;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguYjrqjcIc_text | downcase }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gAew_laN91 "
        style="--ta:right;--ta-tablet:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:right;--jc-tablet:center;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#666666;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAew_laN91_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gempQ9MWjv "
        style="--ta:right;--ta-tablet:center;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:right;--jc-tablet:center;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Josefin-Sans, 'Josefin Sans'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:14px;--size-tablet:16px;--size-mobile:12px;--c:#666666;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggempQ9MWjv_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--o:1"
      class="gertIgHT75 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g_CT0fR_Dy"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl);--mb-tablet:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png" | file_url }}" srcset="{{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: 'master' }} 1440w" width="1080" height="1080" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png" | file_url }}" data-srcset="{{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512070657480066033-74a7f636-478c-475f-be1a-b7b4098f67d1.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div><div
    
    role="presentation"
    class="gp-group/image gYOoQYNNGy"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl);--mb-tablet:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg" | file_url }}" srcset="{{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: 'master' }} 1440w" width="1284" height="1566" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1284/1566;--aspect-tablet:1284/1566;--aspect-mobile:1/1;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg" | file_url }}" data-srcset="{{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512070657480066033-3784622f-6c7d-4a15-a08a-43ff3b68db28.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1284" height="1566" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1284/1566;--aspect-tablet:1284/1566;--aspect-mobile:1/1;--objf:cover;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .gTVnCVdrCc.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .gTVnCVdrCc:hover::before {
      
      
    }
  </style>
    <a
      href="#gPq3HzNlDu" target="_self" data-id="gTVnCVdrCc" aria-label="SHOP NOW"
      
      data-state="idle"
      class="gTVnCVdrCc gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#57C2C8;--bg:#8B3094;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:8px;--pb:8px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:8px;--pb-mobile:8px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:capitalize;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:24px;--size-tablet:24px;--size-mobile:21px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggTVnCVdrCc_label | downcase }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-512566538499261425 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/crazycompression/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=512566515900351599&sectionId=512566538499261425)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggq_XayKlNu_text","label":"ggq_XayKlNu_text","default":"Why Healthcare Workers LOVE Crazy Compression"},{"type":"text","id":"gg3WeijJwjY_text","label":"gg3WeijJwjY_text","default":"the ultimate support"},{"type":"text","id":"gg1x8rdHCN-_text","label":"gg1x8rdHCN-_text","default":"<strong>Up to 65% OFF Compression Socks</strong>"},{"type":"text","id":"ggXipQ3wr9Z_text","label":"ggXipQ3wr9Z_text","default":"<strong>Up to 65% OFF Compression Socks</strong>"},{"type":"text","id":"gg5CBOyTw4N_text","label":"gg5CBOyTw4N_text","default":"<p>Nurses and healthcare professionals are working hard to help others day and night, but often, they don't prioritize their own health.</p><p>&nbsp;</p><p>With long shifts spent on their feet, stress and fatigue can be at an all time high.&nbsp;</p><p>&nbsp;</p><p>As compression socks can help reduce fatigue, swelling, and varicose veins, and aid muscle recovery, every healthcare worker can benefit from a pair of Crazy Compression socks.</p>"},{"type":"text","id":"gg8-vhS0pqA_text","label":"gg8-vhS0pqA_text","default":"<p>Nurses and healthcare professionals are working hard to help others day and night, but often, they don't prioritize their own health.</p><p>&nbsp;</p><p>With long shifts spent on their feet, stress and fatigue can be at an all time high.&nbsp;<br><br>As compression socks can help reduce fatigue, swelling, and varicose veins, and aid muscle recovery, every healthcare worker can benefit from a pair of Crazy Compression socks.</p>"},{"type":"text","id":"gguYjrqjcIc_text","label":"gguYjrqjcIc_text","default":"★★★★★"},{"type":"text","id":"ggAew_laN91_text","label":"ggAew_laN91_text","default":"<p>&nbsp;“I’m a nurse that has been looking for a good pair of compression socks. I appreciate knowing you’re a family business, there’s benefit for the consumer knowing a family owned business takes pride in their product! Ordering a pair (: ”</p>"},{"type":"text","id":"ggempQ9MWjv_text","label":"ggempQ9MWjv_text","default":"<p>Denise W.</p>"},{"type":"text","id":"ggTVnCVdrCc_label","label":"ggTVnCVdrCc_label","default":"SHOP NOW"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
